
<ul class="nav nav-stacked" id="hospital-list">
    <li><a><b>By Hospital</b></a></li>
    @foreach (var i in Model)
    {

        <li><a href="#">@(i.Hospital ?? "Not Specified")<span class="pull-right badge bg-blue">@i.Total</span></a></li>

    }
</ul>
