@using Helpers;
<ul class="nav nav-stacked" id="gender-list">
    <li><a><b>By Gender</b></a></li>
    @foreach (var i in Model)
    {

        <li><a href="#">@(i.Gender ?? "Not Specified")<span class="pull-right badge bg-blue">@i.Total</span></a></li>

    }
</ul>