<div class="row">
    <div class="col-12 no-padding">
        <div class="card total-cases text-center text-white">
            <div class="card-body card-body-250">
                    <h5 class="text-color-white text-center"> TOTAL CASES</h5>
                    <h1 class="text-left font-weight-bolder font-size-120 text-center"> 639</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 no-padding">
        <div class="card active-cases">
            <div class="card-body card-body-298">
                <h5 class="text-color-white text-center"> TOTAL ACTIVE CASES </h5>
                <h1 class="font-size-120 text-white text-center">16</h1>
                <div class="line"></div>
                <h4 class="text-center text-white">6%</h4>
            </div>
        </div>
    </div>
    <div class="col-4 no-padding">
        <div class="card recovered-cases">
            <div class="card-body card-body-298">
                <h5 class="text-color-white text-center">TOTAL RECOVERED CASES</h5>
                <h1 class="font-size-120 text-white text-center">602</h1>
                <div class="line"></div>
                <h4 class="text-center text-white">91.5%</h4>
            </div>
        </div>
    </div>
    <div class="col-4 no-padding">
        <div class="card expired-cases">
            <div class="card-body card-body-298">
                <h5 class="text-color-white text-center"> TOTAL DEATH CASE </h5>
                <h1 class="font-size-120 text-white text-center">21</h1>
                <div class="line"></div>
                <h4 class="text-center text-white">1.92%</h4>
            </div>
        </div>
    </div>
</div>
