<div class="well bg-isolation-negative">
    <div class="pull-right">
        <h1 class="count">@ViewBag.DeathButNegative</h1>
    </div>
    <div class="pull-left">

        <h2 class="title">Death</h2>
    </div>
    <div class="clearfix"></div>
</div>


