

<div class="well bg-recovered">
    <div class="pull-right">
        <h1 class="count">@ViewBag.Death</h1>
    </div>
    <div class="pull-left">

        <h2 class="title">Death</h2>
    </div>
    <div class="clearfix"></div>
</div>