
<div class="row">
    <div class="col-9 no-padding">

        <div class="card new-case">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-12 no-padding">
                        <h3>Ilan ang Naitalang Nagpositive ngayong Araw</h3>
                        <h4>Datos ngayong @DateTime.Now.ToString("MMMM dd, yyyyy") Ayon sa Reports Noong</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="card card-height-255">
                            <div class="card-body">
                                <h1 class="font-size-120 color-blue">639               / 7000 </h1>
                                <b class="font-size-30 color-blue">BILANG NG POSITIBO / BILANG NG TINEST</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-height-255">
                            <div class="card-body">
                                <h1 class="font-size-120 color-blue">6.6% </h1>
                                <b class="font-size-20 color-blue">PORSYENTO NG MGA NAGPOSITIBO</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 no-padding overlay">
        <div class="card new-case card-height-375">
            <div class="card-body total-mild-cases-image  ">
                <div class="row text-left">
                    <div class="col-12 ">

                        <h3 class="overlay">HALOS</h3>
                        <h1 class="font-weight-bolder font-size-80 overlay">91.0%</h1>
                        <h3 class="overlay">ANG MILD AT ASYMPTOMATIC NA KASO</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>