<div class="well bg-recovered">
    <div class="pull-right">
        <h1 class="count">@ViewBag.Recovered</h1>
    </div>
    <div class="pull-left">

        <h2 class="title">Recovered</h2>
    </div>
    <div class="clearfix"></div>
</div>