
<div class="row">
    <div class="col-9 no-padding">

        <div class="card new-case">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-12 no-padding">
                        <h3>SUMMARY PROFILE of CONFIRMED CASES</h3>
                        <h4>MARCH - NOVEMBER 202</h4>
                    </div>
                </div>
                <div class="row color-blue text-center">
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body height-152">
                                <h4 class="font-weight-bolder">Local</h4>
                                <h2>93.7 %</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body height-152">
                                <h4 class="font-weight-bolder">Returning OFW</h4>
                                <h2>1.6 %</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body height-152">
                                <h4 class="font-weight-bolder">LSI</h4>
                                <h2>1.9 %</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body height-152">
                                <h4 class="font-weight-bolder">Health Worker</h4>
                                <h2>2.8 %</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-3 no-padding overlay">
        <div class="card new-case card-height-275">
            <div class="card-body total-mild-cases-image  ">
                <div class="row text-left">
                    <div class="col-12 ">

                        <h3 class="overlay">HALOS</h3>
                        <h1 class="font-weight-bolder font-size-80 overlay">91.0%</h1>
                        <h3 class="overlay">ANG MILD AT ASYMPTOMATIC NA KASO</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>