<div id="root">
    <div style="height: 637px;">
        <div class="app-wrapper">
            <div id="geek-toast-marker"></div><div id="my-modal-marker">

            </div>
            <div id="my-toast-marker">

            </div>
            <div id="geo-modal-marker"></div>
            <div class="container-fluid">
                <div class="row h-100">
                    <div class="d-none d-sm-block col-md-6 px-0">
                        <div class="static-container">
                            <div class="back-action">
                                <a class="btn btn-custom btn-default text-decoration-none text-muted font-weight-bold" href="/">
                                    <i class="fas fa-arrow-left"></i> Back to Home
                                </a>
                            </div><div class="container-fluid h-100">
                                <div class="row h-100 d-flex align-items-center justify-content-center">

                                    <div class="col-10 mx-auto text-center">
                                        <img class="mb-5 d-block mx-auto" src="https://www.staysafe.ph/static/media/logo.ce01195a.svg" alt="StaySafe">
                                        <img class="w-75" src="https://www.staysafe.ph/static/media/graphic-hero.570de7eb.svg" alt="Stay Safe and we will be together">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-12 col-md-6 px-0">
                        <div class="app-container">
                            <div class="access-screen animated fadeIn">
                                <div class="app-header small">
                                    <div class="back-action"><a href="/"><img src="/static/media/icon-back.b55fd496.svg" alt="Back"></a></div>
                                    <img src="/static/media/logo-horizontal.e44996ee.svg" alt="StaySafe">
                                </div>
                                <div class="box-top-rounded">
                                    <form class="box-content box-scrollable">
                                        <div class="flex-grow-1"><h2 class="font-weight-bold text-center mb-1">Stay Home. Stay Safe.</h2><p class="text-center font-weight-normal">Join 527,157 users in stopping the spread of COVID-19 through this community-driven contact tracing, health condition reporting and social distancing system. <br>Register Now!</p></div><div class="form-group">
                                            <label for="mobile_number" class="form-label">Enter Mobile Number</label>
                                            <div class="form-icon-right">
                                                <div class=" react-tel-input">
                                                    <input class=" form-control" placeholder="+639 XXXX XXXXX" type="tel" id="mobile_number" autocomplete="off" required="" value="+63">
                                                    <div class=" flag-dropdown" tabindex="-1" role="button"><div class="selected-flag" title="Philippines: + 63"><div class="flag ph"></div></div></div>
                                                </div><span class="right"><img src="/static/media/icon-mobile.4e0e026b.svg" alt="Mobile"></span>
                                            </div>
                                        </div><div class="form-group custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" required="" id="defaultCheck1"><label class="custom-control-label d-block" for="defaultCheck1">I am at least 13 years old and I agree with the <a href="/privacy-statement/user">Terms and Conditions</a>.</label></div>
                                        <div class="form-group">
                                            <div style="position: relative; width: 304px; height: 78px; margin: 0px;">
                                                <div id="g-recaptcha">
                                                    <div style="width: 304px; height: 78px;">
                                                        <div>
                                                            <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfOeOUUAAAAACTiTU1r0zZDTJzw79B63D1hfbv2&amp;co=aHR0cHM6Ly93d3cuc3RheXNhZmUucGg6NDQz&amp;hl=en-GB&amp;v=wk6lx42JIeYmEAQSHndnyT8Q&amp;size=normal&amp;cb=m7rh0hq3qyvj" width="304" height="78" role="presentation" name="a-kk8f2oxfqyq5" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                                        </div>
                                                        <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                                    </div><iframe __idm_frm__="144" style="display: none;"></iframe>
                                                </div>
                                            </div>
                                        </div><div class="app-footer">
                                            <button type="submit" class="btn btn-custom  btn-primary btn-block text-center font-weight-bold text-uppercase">Register Now</button><small class="or-divider">OR</small><button type="button" class="btn btn-custom btn-facebook btn-block text-center font-weight-bold"><img class="logo" src="/static/media/icon-facebook.cfb43929.svg" alt="Continue with Facebook">Continue with Facebook</button><a class="mt-3 btn btn-link py-2 btn-block text-decoration-none" href="/sign-in">
                                                <small class="text-dark text-center">Already a member? <strong class="text-primary">Log In Now</strong></small>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>