.app-container {
    background: #dadbdf;
}

    .app-container > .app-wrapper {
        margin: 0 auto;
    }

.app-wrapper .panel.panel-default {
    -ms-border-radius: 10px !important;
    border-radius: 10px !important;
}

.padding-right-0 {
    padding-right: 0px !important;
}

.padding-le-0 {
    padding-left: 0px !important;
}

html, body {
    height: 100%;
    margin: 0px;
}

.container-fluid {
}

.full-height {
    height: 100% !important;
}




.btn.btn-custom.btn-primary {
    border: none;
    background: #17b978;
}

.btn.btn-custom {
    border-radius: 9px;
    height: 50px;
    padding: 12px 16px;
    line-height: 24px;
    font-size: 14px;
    transition: all .5s ease;
}

.form-group-left input[type=text], .form-group-left input[type=password] {
    padding-left: 30px !important;
}

.btn.btn-link {
    border-radius: 9px;
}

.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}

.pt-2, .py-2 {
    padding-top: .5rem !important;
}

.mt-3, .my-3 {
    margin-top: 1rem !important;
}

.btn-link {
    font-weight: 400;
    color: #17b978;
    text-decoration: none;
}

.text-decoration-none {
    text-decoration: none !important;
}

.card.card-custom.card-member {
    padding: 0;
    border-radius: 10px;
}


.member-item.symtoms-good {
    position: relative;
    overflow: hidden;
}

.card.card-custom {
    border: none;
    border-radius: 13px;
    box-shadow: 0 3px 6px rgba(80,70,74,.1);
    padding: 40px 16px;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.member-item.symtoms-good:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background: #00b54d;
    z-index: 0;
}

.card.card-custom.card-member {
    padding: 0;
    border-radius: 10px;
}

.box-fit-wrapper {
    position: relative;
    height: 100%;
}

.well.custom-well {
    -ms-border-radius: 10px !important;
    border-radius: 10px !important;
    position: relative;
    overflow: hidden;
}

.well:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background: #00b54d;
    z-index: 0;
}
.font-weight-bold {
    font-weight: bold;
}
.btn-back {
    position: absolute;
    left: 12px;
    top: 12px;
    padding: 8px;
}
.back-action > .btn-custom{
    border: 2px solid #e2e2e2;
    background: #efefef;
    color: #17b978;
}
 .copyright-section {
    text-align: center;
    padding: 24px 0;
    background: #1a1618;
    color: #fff;
     bottom:0;    
}