body {
    background: black !important;
    font-family: "Nunito" !important
}

div.min-width-77 .dxeRoot_Material td.dxeCLLSys.dxeCaptionCell_Material {
    min-width: 95px !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.font-size-80 {
    font-size: 65px !important;
}
.font-size-40 {
    font-size: 40px !important
}
.font-size-30 {
    font-size: 30px !important
}
.card-height-255 {
    height: 255px !important;
}
.card-height-375 {
    height: 375px !important;
}
.font-size-20 {
    font-size: 20px !important
}
.color-blue {
    color: #0A4567  !important;
}
.font-size-120 {
    font-size: 120px !important;
}
.line {
    border: 1px solid white;
    margin-bottom: 30px !important;
    background-color: white !important;
}

.card-body-298 {
    height: 298px !important;
}
.text-color-white {
    color: white !important;
}

.bg-yellow {
    background: yellow !important;
}

.bg-green {
    background: green !important;
}

.bg-grey {
    background: gray !important;
}

.height-395 {
    height: 358px;
}

.card {
    border-radius: 0px !important;
}

.hero {
    background: green !important;
    color: white !important;
    padding: 10px;
}

.no-margin {
}

.active-cases {
    background: #FAA318 !important;
}

.recovered-cases {
    background: #296C5A !important;
}

.expired-cases {
    background: #6F1D1F !important;
}

.no-padding {
    padding: 0px !important;
}

.total-cases {
    background: #615353 !important;
    
}
    .total-cases h4 {
        padding-top: 65px !important;
    }
.new-case {
    background: #06466A !important;
    color: white;
}

.total-mild-cases-image {
    background-image: url('Images/covid.jpg') !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    background: rgba(0, 0, 0, 0.75);
}
.card-body-250 {
    height: 250px !important;
}
.height-152 {
    height: 152px;
}
.card-height-275 {
    height: 275px !important;
}